[tulisanList pengumumanShortList]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = "{{ itemPerHalaman }}"
filterKategori = "pengumuman"
halamanDetail = "data-informasi/detail"
==
{% for post in posts %}
{% set headerDef = 'assets/images/image_2.jpg'|theme %}
{% set header = post.gambar_header.path | default(headerDef) %}
<div class="block-21 mb-4 d-flex">
    <a class="blog-img mr-4" style="background-image: url({{ header|resize(80,80) }});"></a>
    <div class="text">
        <h3 class="heading"><a href="{{ post.url }}">{{ post.judul }}</a></h3>
        <div class="meta">
            <div><a href="#"><span class="icon-calendar"></span> {{ post.tgl_tampil|date('d-m-Y') }}</a></div>
            <div><a href="#"><span class="icon-person"></span> {{ post.user.login }}</a></div>
            <!--<div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
        </div>
    </div>
</div>
{% endfor %}