{% for post in posts %}
{% set headerDef = 'assets/images/image_1.jpg'|theme %}
{% set header = post.gambar_header.path | default(headerDef) %}
<div class="col-md-6 col-lg-4 ftco-animate">
    <div class="blog-entry">
        {% if post.gambar_header.title|length>9 and post.gambar_header.title[0:8]=='as-video' %}
        <a class="block-20 d-flex align-items-end popup-vimeo" href="{{ post.gambar_header.title[10:] }}" style="background-image: url('{{header|resize(349,275)}}');">
            <div class="meta-date text-center p-2">
                <span class="day">{{ post.tgl_tampil|date('d') }}</span>
                <span class="mos">{{ post.tgl_tampil|date('M') }}</span>
                <span class="yr">{{ post.tgl_tampil|date('Y') }}</span>
            </div>
            <div class="meta-date p-2">
                <i class="fa fa-play-circle-o fa-2x text-white"></i>
            </div>
        </a>
        {% else %}
        <a href="{{ post.url }}" class="block-20 d-flex align-items-end" style="background-image: url('{{header|resize(349,275)}}');">
            <div class="meta-date text-center p-2">
                <span class="day">{{ post.tgl_tampil|date('d') }}</span>
                <span class="mos">{{ post.tgl_tampil|date('M') }}</span>
                <span class="yr">{{ post.tgl_tampil|date('Y') }}</span>
            </div>
        </a>
        {% endif %}
        <div class="text bg-white p-4">
            <h3 class="heading"><a href="{{ post.url }}">{{ post.judul }}</a></h3>
            <p>{{ post.ringkasan }}</p>
            <div class="d-flex align-items-center mt-4">
                <p class="mb-0"><a href="{{ post.url }}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                <p class="ml-auto mb-0">
                    <!-- <a href="#" class="mr-2">{{ post.user.login }}</a> -->
                    <!--<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>-->
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}
<p class="text-center text-danger">Maaf, belum ada data untuk saat ini.</p>
{% endfor %}

{% if posts and tampilkanPagination %}
<div class="w-100"></div>
<div class="col-md-12 col-lg-12 ftco-animate">
    <hr />
    {% partial 'tulisanList/pagination' records=posts thispage=this.page %}
</div>
{% endif %}