[simpleVisitorCounterRender]
==
<ul class='list-unstyled ul-icons text-left for-link-lists'>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.online }} Online</li>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.day_value }} Hari Ini</li>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.yesterday_value }} Kemarin</li>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.week_value }} Minggu Ini</li>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.month_value }} Bulan Ini</li>
    <li><i class="fa fa-check-circle"></i> {{ valVisitorCounter.year_value }} Tahun Ini</li>
    <li><i class="fa fa-user-o"></i> Total {{ valVisitorCounter.all_value }} </li>
</ul>