[tulisanList beritaTerbaru]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 6
filterKategori = "berita"
halamanDetail = "publikasi/detail"
tampilPagination = "true"

[viewBag]
==
<section class="ftco-section bg-warning">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Berita</span> Terbaru</h2>
            </div>
        </div>
        <div class="row">
            {% partial 'site/_ui_box_list' tampilkanPagination=false %}
        </div>
    </div>
</section>