<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
</div>

<script src="{{ [
    "assets/js/jquery.min.js",
    "assets/js/jquery-migrate-3.0.1.min.js",
] | theme }}"></script>
<script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
<script src="{{ [
    "assets/js/bootstrap.min.js",
    "assets/js/jquery.easing.1.3.js",
    "assets/js/jquery.waypoints.min.js",
    "assets/js/jquery.stellar.min.js",
    "assets/js/owl.carousel.min.js",
    "assets/js/jquery.magnific-popup.min.js",
    "assets/js/aos.js",
    "assets/js/jquery.animateNumber.min.js",
    "assets/js/scrollax.min.js",
    "assets/js/main.js"]| theme }}"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="{{ "assets/js/google-map.js"|theme }}"></script>-->
{% framework extras %}
{% scripts %}