
==
<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ "assets/images/bg-setda.jpeg"|theme }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">{{ this.page.meta_title | default(this.page.title) }}</h1>
                
<!--                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a>
                    </span> 
                    <span>Teacher <i class="ion-ios-arrow-forward"></i></span>
                </p>-->
            
                {% set crumbOptions = breadcrumbs.options %}
                {% if currentCrumb.show_crumb %}
                <p class="breadcrumbs {{crumbOptions['main-ol-class']}}">
                    {% set activeCrumb = '' %}
                    {% for crumb in breadcrumbs %}
                    {% if crumb.in_crumb_trail %}
                    <span class="mr-2 {{crumbOptions['main-li-class']}} {% if crumb.crumb_disabled %} {{crumbOptions['disabled-class']}} {% endif %} {% if loop.last %} {{crumbOptions['active-class']}} {% endif %}" 
                            {% if loop.last %} id="bcLast" {% endif %}>
                        {% if not loop.last and not crumb.crumb_disabled %} 
                        <a href="{{crumb.baseFileName | page}}"> 
                        {% endif %} {{crumb.title}} <i class="ion-ios-arrow-forward"></i>
                        {% if not loop.last and not crumb.is_disabled %}
                        </a>
                        {% endif %}
                    </span>
                    {% endif %}

                    {% if loop.last %}
                    {% set activeCrumb = crumb %}
                    {% endif %}

                    {% endfor %}
                </p>
                {% endif %}

                {# javascript to enable dynamic breadcrumbs. Helpful for ':slug' type routes #}
                {% if activeCrumb.elementTitle %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var bcTitle = document.getElementById('{{activeCrumb.elementTitle}}');
                        var bcActive = document.getElementById('bcLast');

                        if (bcTitle) {
                            bcActive.innerHTML = bcTitle.innerHTML;
                        }
                    });
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>