[homepageSlider]
jumlahItem = 5
==
{% if posts | length > 0 %}
<section style="background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('{{'assets/images/background-dayak.png'|theme}}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider owl-carousel">
                    {% set bi = random(['assets/images/bg_1.jpg', 'assets/images/bg_2.jpg']) | theme %}
                    {% for post in posts %}
                        {% set bic = post.gambarHeader.path | default(bi) %}
                    <div class="slider-item" style="background-image:url({{ bic }});">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                                <div class="col-md-6 ftco-animate">
                                    <h1 class="mb-4">{{ post.judul }}</h1>
                                    <p>{{ post.deskripsi01 }}</p>
                                    {% if  post.link and post.link != '#' %}
                                    <p><a href="{{ post.link }}" class="btn btn-primary px-4 py-3 mt-3">Selanjutnya</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endif %}