[pegawaiList]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 4
==
<section class="ftco-section bg-light">
    <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Pegawai Setda</h2>
                <p>Berikut adalah pegawai Sekretariat Daerah Provinsi Kalimantan Tengah</p>
            </div>
        </div>	
        <div class="row">
            {% component 'pegawaiList' %}
        </div>
    </div>
</section>