[tulisanList datainfTerbaru]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 3
filterKategori = "sambutan|pengumuman|serba-serbi"
halamanDetail = "data-informasi/detail"
==
<section class="ftco-section bg-info">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Data & Informasi</span> Terbaru</h2>
            </div>
        </div>
        <div class="row">
            {% component 'datainfTerbaru' %}
        </div>
    </div>
</section>