<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Ada Pertanyaan?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Kantor Gubernur Kalimantan Tengah<br /> Jl. RTA. Milono No. 1 Palangka Raya</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62 566 12312</span></a></li>
                            <!-- <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@setda.kalteng.go.id</span></a></li> -->
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">tusekdaprovkalteng@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Statistik Pengunjung</h2>
                    <div class="block-23 mb-3">
                        {% partial 'site/_user_stat' %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Pengumuman</h2>
                    {% partial 'site/_pengumuman_short_list' itemPerHalaman=4 %}
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                {#
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Subscribe Us!</h2>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
                #}
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{'home'|page}}"><span class="ion-ios-arrow-round-forward mr-2"></span>Beranda</a></li>
                        <li><a href="{{'tentang-kami'|page}}"><span class="ion-ios-arrow-round-forward mr-2"></span>Tentang</a></li>
                        <li><a href="{{'publikasi'|page}}"><span class="ion-ios-arrow-round-forward mr-2"></span>Publikasi</a></li>
                        <li><a href="{{'pegawai'|page}}"><span class="ion-ios-arrow-round-forward mr-2"></span>Kepegawaian</a></li>
                        <li><a href="{{'kontak'|page}}"><span class="ion-ios-arrow-round-forward mr-2"></span>Kontak</a></li>
                    </ul>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="https://twitter.com/setda_kalteng"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/setdaprovkalteng"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/sekretariat.daerah.kalteng/"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright JFT UNTUK SETDA &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>