<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="{{"/assets/images/image_1.jpg"|theme}}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{"/assets/images/course-1.jpg"|theme}});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{{"/assets/images/image_2.jpg"|theme}}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{"/assets/images/image_2.jpg"|theme}});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{{"/assets/images/image_3.jpg"|theme}}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{"/assets/images/image_3.jpg"|theme}});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{{"/assets/images/image_4.jpg"|theme}}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{"/assets/images/image_4.jpg"|theme}});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>