[tulisanList galvidTerbaru]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 6
filterKategori = "galeri-foto|galeri-video"
halamanDetail = "publikasi/detail"
tampilkanPagination = false
==
<section class="ftco-section bg-dark">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Galeri Foto / Video</span></h2>
            </div>
        </div>
        <div class="row">
            {% partial 'site/_ui_box_list' %}
        </div>
    </div>
</section>