
<div class="bg-top navbar-light">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-4 d-flex align-items-stretch">
                <a class="navbar-brand" href="{{ 'home'|page }}">
                    <img src="{{ "assets/images/header-setda.jpeg"|theme }}" 
                         class="img img-fluid float-left">
                </a>
            </div>
            <div class="col-lg-8 d-block">
                <div class="row h-100">
                    <div class="col-12 align-self-center">
                        <div class="pull-right"><i class="fa fa-calendar"></i> <span id="tglwaktu">{{ "now"|date('d M Y') }}</span></div>
                    </div>
                </div>
                {#
                <div class="row d-flex">
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md topper d-flex align-items-center justify-content-end">
                        <p class="mb-0">
                            <a href="#" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
                                <span>Apply now</span>
                            </a>
                        </p>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script language="JavaScript">
function tglindo() {
    var hari = ("Minggu Senin Selasa Rabu Kamis Jumat Sabtu").split(" ");
    var bulan = ("Januari Februari Maret April Mei Juni Juli Agustus September Oktober November Desember").split(" ");
    var wkt = new Date();
    var detik = wkt.getSeconds(), menit = wkt.getMinutes(), jam = wkt.getHours();
    document.getElementById("tglwaktu").innerHTML = hari[wkt.getDay()] + ", " + wkt.getDate() + " " + bulan[wkt.getMonth()] + " " + wkt.getFullYear() + " " + (jam < 10 ? "0" + jam: jam) + ":" + (menit < 10 ? "0" + menit: menit);
    setTimeout(tglindo, 1000);
}
tglindo();
</script>
{% endput %}