[kategori menuKategori]
slug = "{{ :slug }}"
tampilkanYangKosong = 1
halamanKategori = "informasi/kategori"
==
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center px-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <!-- <form action="#" class="searchform order-lg-last">
            <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Search">
                <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
            </div>
        </form> -->
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item {% if this.page.id=='home' %}active{% endif %}">
                    <a href="{{ 'home'|page }}" class="nav-link pl-0">Beranda</a>
                </li>
                <li class="nav-item dropdown {% if this.page.id=='tentang' %}active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Tentang &nbsp;</a>
                    <div class="dropdown-menu">
                        <a href="{{ 'tentang'|page({slug:'kepala-daerah'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='kepala-daerah' %}active{% endif %}">Kepala Daerah</a>
                        <a href="{{ 'tentang'|page({slug:'visi-misi'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='visi-misi' %}active{% endif %}">Visi Misi</a>
                        <a href="{{ 'tentang'|page({slug:'sekilas-pandang'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='sekilas-pandang' %}active{% endif %}">Sekilas Pandang</a>
                        <a href="{{ 'tentang'|page({slug:'struktur-organisasi'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='struktur-organisasi' %}active{% endif %}">Struktur Organisasi</a>
                        <a href="{{ 'tentang'|page({slug:'profil-sekda'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='profil-sekda' %}active{% endif %}">Profil Sekretaris Daerah</a>
                        <a href="{{ 'kontak'|page}}" class="dropdown-item {% if this.page.id=='kontak' %}active{% endif %}" href="{{ 'kontak'|page }}">Kontak</a>
                        <a href="{{ 'tentang'|page({slug:'pengelola-website'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='pengelola-website' %}active{% endif %}">Pengelola Website</a>
                        <!--<a href="{{ 'tentang'|page({slug:'peta-situs'})}}" class="dropdown-item {% if this.page.id=='tentang' and slug=='peta-situs' %}active{% endif %}">Peta Situs</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown {% if this.page.id=='publikasi' or this.page.id=='publikasi-detail' %}active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Publikasi &nbsp;</a>
                    <div class="dropdown-menu">
                        <a href="{{ 'publikasi'|page({slug:'berita'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='berita' %}active{% endif %}">Berita</a>
                        <a href="{{ 'publikasi'|page({slug:'artikel'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='artikel' %}active{% endif %}">Artikel</a>
                        <a href="{{ 'publikasi'|page({slug:'kegiatan-biro'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='kegiatan-biro' %}active{% endif %}">Kegiatan Biro</a>
                        <!-- <a href="{{ 'publikasi'|page({slug:'press-release'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='press-release' %}active{% endif %}">Press Release</a> -->
                        <a href="{{ 'publikasi'|page({slug:'galeri-foto'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='galeri-foto' %}active{% endif %}">Galeri Foto</a>
                        <a href="{{ 'publikasi'|page({slug:'galeri-video'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='galeri-video' %}active{% endif %}">Galeri Video</a>
                        <a href="{{ 'publikasi'|page({slug:'e-magazine'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='e-magazine' %}active{% endif %}">E-Magazine</a>
                        <a href="{{ 'publikasi'|page({slug:'infografis'}) }}" class="dropdown-item {% if this.page.id=='publikasi' and slug=='infografis' %}active{% endif %}">Infografis</a>
                    </div>
                </li>
                <li class="nav-item {% if this.page.id=='pegawai' %}active{% endif %}"><a href="{{'pegawai'|page}}" class="nav-link">Kepegawaian</a></li>
                <!--<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <li class="nav-item dropdown {% if this.page.id=='data-informasi' or this.page.id=='data-informasi-detail' %}active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Data & Informasi</a>
                    <div class="dropdown-menu">
                        <a href="{{ 'data-informasi'|page({slug:'sambutan'}) }}" class="dropdown-item  {% if this.page.id=='data-informasi' and slug=='sambutan' %}active{% endif %}">Sambutan</a>
                        <a href="{{ 'data-informasi'|page({slug:'pengumuman'}) }}" class="dropdown-item  {% if this.page.id=='data-informasi' and slug=='pengumuman' %}active{% endif %}">Pengumuman</a>
                        <a href="{{ 'data-informasi'|page({slug:'serba-serbi'}) }}" class="dropdown-item  {% if this.page.id=='data-informasi' and slug=='serba-serbi' %}active{% endif %}">Serba serbi</a>
                        <a href="https://jdih.kalteng.go.id" class="dropdown-item">Peraturan</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>