<title>Sekretariat Daerah Provinsi Kalimantan Tengah</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ [
    "assets/css/open-iconic-bootstrap.min.css",
    "assets/css/animate.css",
    "assets/css/owl.carousel.min.css",
    "assets/css/owl.theme.default.min.css",
    "assets/css/magnific-popup.css",
    "assets/css/aos.css",
    "assets/css/ionicons.min.css",
    "assets/css/flaticon.css",
    "assets/css/icomoon.css",
    "assets/vendor/fa470/css/font-awesome.min.css",
    "assets/css/style.css",
    "assets/css/custom.css" ] |theme }}" rel="stylesheet">
