<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Pegawai Terlatih</h3>
                        <p>Pegawai di Sekretariat Daerah Provinsi Kalimantan Tengah terlatih sebagai pelayan masyarakat.</p>
                    </div>
                </div>      
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Pelayanan Berdedikasi</h3>
                        <p>Tugas utama dari Sekretariat Daerah adalah memberikan masukan kepada pimpinan dalam rangka pembangunan.</p>
                    </div>
                </div>    
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Referensi Terpercaya</h3>
                        <p>Dalam setiap release hasil kerja, data dan informasi yang diberikan kepada khalayak telah dipastikan terverifikasi.</p>
                    </div>
                </div>      
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Selalu Berkembang</h3>
                        <p>Kedisiplinan dan kemauan keras untuk berlatih telah membawa kami menjadi salah satu bagian penting Pemerintah Provinsi Kalimantan Tengah.</p>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</section>