[tulisanList publikasiTerbaru]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 3
filterKategori = "berita|artikel|press-release|e-megazine|galery-foto|galery-video|infografis"
halamanDetail = "publikasi/detail"
==
<section class="ftco-section bg-warning">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Publikasi</span> Terbaru</h2>
            </div>
        </div>
        <div class="row">
            {% component 'publikasiTerbaru' %}
        </div>
    </div>
</section>