<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row">
        {% for img in imgs %}
            <div class="col-md-3 ftco-animate p-2 align-items-center">
                <a href="{{ img.path }}" 
                   class="gallery image-popup img img-fluid">
                    <img class="img img-fluid" src="{{img.path|resize(false,350)}}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>