[tulisanList]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 3
abaikanKategori = "pengumuman|tentang"
halamanDetail = "publikasi/detail"
==
<section class="ftco-section bg-warning">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Informasi</span> Terbaru</h2>
            </div>
        </div>
        <div class="row">
            {% component 'tulisanList' %}
        </div>
    </div>
</section>