<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({{"assets/images/bg_3.jpg"|theme}});" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url({{"assets/images/shortcut-video.jpg"|theme}});">
                    <div class="video justify-content-center">
                        <a href="https://www.youtube.com/watch?v=OawkYPDP2RA" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="ion-ios-play"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">Melaksanakan Tugas</h2>
                <p>Dalam melaksanakan tugas, Sekretariat Daerah Provinsi Kalimantan Tengah menyelenggarakan fungsi-fungsi sebagai berikut:
                <ol style="color:white">
                    <li>pengoordinasian penyusunan kebijakan Daerah;</li>
                    <li>pengoordinasian pelaksanaan tugas Perangkat Daerah;</li>
                    <li>pemantauan dan evaluasi pelaksanaan kebijakan Daerah;</li>
                    <li>pelayanan administratif dan pembinaan ASN pada Perangkat Daerah; dan</li>
                    <li>pelaksanaan fungsi lain yang diberikan oleh Gubernur yang berkaitan dengan tugas dan fungsinya.</li>
                </ol>
                </p>
            </div>
        </div>	
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="9">0</strong>
                                <span>Biro</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="27">0</strong>
                                <span>Bagian</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="81">0</strong>
                                <span>Sub Bagian</span>
                            </div>
                        </div>
                    </div>
                    {#
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="999">0</strong>
                                <span>Total Pegawai</span>
                            </div>
                        </div>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>
</section>