description = "Untuk meload detail tulisan"
[tulisanDetail]
slug = "{{ :slug }}"
id = "{{ :id }}"

[pageHitCount]
==
// dapatkan nilai untuk mengisi breadcrumb, pakai onEnd supaya mendapatkan nnilai setelah 
// component di render
function onEnd() {
    if($this['post']!==null && $this['post']->kategori->count()>0) {
        $this->page['meta_title'] = $this['post']->kategori->first()->nama;
    }
}
==
{% if post.id %}
    <h2 class="mb-3 heading">{{ post.judul }}</h2>
    <div class="meta">
        <span><i title="Tampil" class="fa fa-calendar-check-o"></i> {{ post.tgl_tampil | date('d-m-Y') }}</span>
        <span><i title="Diperbaharui" class="fa fa-calendar-plus-o"></i> {{ post.updated_at | date('d-m-Y') }}</span>
        <span><i class="fa fa-commenting-o"></i> Diakses {{ valPageHit.all_value }} kali</span>
    </div>
    <blockquote class="blockquote">{{ post.ringkasan }}</blockquote>
    {% if post.gambar_header %}
        {% set header = post.gambar_header.path %}
        {% if post.gambar_header.title|length>9 and post.gambar_header.title[0:8]=='as-video' %}
        <a class="block-20 d-flex align-items-center popup-vimeo" 
           href="{{ post.gambar_header.title[10:] }}"
           style="background-image: url('{{header|resize(false,487)}}');">
            <div class="meta-date p-2 justify-content-center">
                <i class="fa fa-play-circle-o fa-2x text-white"></i>
            </div>
        </a>
        {% else %}
        <img src="{{ header | resize(false, 487) }}" alt="" class="img-fluid">
        {% endif %}
    {% endif %}
    {{ post.isi | raw }}
    {# gambar yang lainnya #}
    {% if post.gambar_lainnya.count %}
        <hr/>
    <h3>Gambar berkaitan:</h3>
    {% partial 'site/sekilas_gallery' imgs=post.gambar_lainnya %}
    {% endif %}
{% else %}
    <h2 class="mb-3 heading text-danger">Tidak ada data ditemukan</h2>
{% endif %}