{# untuk memanggil ini pastikan:
    - component memiliki property bernama paramHalaman
    - component melakukan assign untuk records 
    contoh cara pemanggilan: 
    partial '@pagination' records=recordsCaller reqQueryString=reqQueryString }
#}
{% set paginationEnabled =
records.currentPage > 1 or
records.lastPage > 1 or
records.lastPage > records.currentPage
%}

{% if paginationEnabled %}
{# How many pages to display around the current page #}
{% set n = 2 %}

{% set currentPageZeroBased = records.currentPage-1 %}

{% set pageLinks = [] %}
{% set pageSet = [] %}

{% set startOffset = max(currentPageZeroBased - n, 0) %}
{% if (startOffset + 2*n+1) > (records.lastPage-1) %}
{% set startOffset = max(records.lastPage - 2*n - 1, 0) %}
{% endif %}

{% for page in 1..records.lastPage %}
{% set pageLinks = pageLinks|merge([page]) %}
{% endfor %}

{% set activeBlock = pageLinks|slice(startOffset, 2*n + 1) %}

{% if startOffset > 0 %}
{% set pageSet = pageSet|merge([1]) %}

{% if startOffset > 1 %}
{% set pageSet = pageSet|merge(['...']) %}
{% endif %}
{% endif %}

{% set pageSet = pageSet|merge(activeBlock) %}

{% set diffToEnd = (records.lastPage-1) - (startOffset + 2*n+1) + 1 %}

{% if diffToEnd > 0 %}
{% if diffToEnd > 1 %}
{% set pageSet = pageSet|merge(['...']) %}
{% endif %}

{% set pageSet = pageSet|merge([records.lastPage]) %}
{% endif %}


<div>
    <div>
        <div>

            <div>
                <span>Records&nbsp;&nbsp;<b>{{records.firstItem|trim}}&nbsp;-&nbsp;{{records.lastItem|trim}}</b>&nbsp;Of&nbsp;{{ records.total|number_format(0, '.', ',')}}</span>
                <span>Page {{ records.currentPage }} of {{ records.lastPage }}</span>
            </div>

        </div>
    </div>
    <div>
        <ul class="pagination">

            {% if records.currentPage > 1 %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ thispage.baseFileName|page(
                        { (paramHalaman): (posts.currentPage-1) }) }}{{reqQueryString|length>2?"?"~reqQueryString:""}}" 
                            title="Previous">
                    <i class="fa fa-angle-left"></i></a>
            </li>
            {% endif %}

            {% for page in pageSet %}
            {% if page == '...' %}
            <li class="page-item">
                <a href="javascript:void(0)" type="button" class="page-link disabled">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item {{ page == records.currentPage ? 'active' }}">
                <a class="page-link" href="{{ thispage.baseFileName|page({ (paramHalaman): page }) }}{{reqQueryString|length>2?"?"~reqQueryString:""}}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if records.lastPage > records.currentPage %}
            <li class="page-item">
                <a class="page-link" href="{{ thispage.baseFileName|page({ (paramHalaman): (posts.currentPage+1) }) }}{{reqQueryString|length>2?"?"~reqQueryString:""}}" title="Next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>


{% endif %}