<!DOCTYPE html>
<html lang="en">
    <head>
    {% partial 'site/head' %}
    </head>
    <body>
        {% partial 'site/_inject_user_counter' %}
        {% partial 'site/header_top' %}
        {% partial 'site/header_nav' %}
        
        {% page %}

        {% partial 'site/footer' %}

        {% partial 'site/bottom' %}
    </body>
</html>