[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<!DOCTYPE html>
<html lang="en">
    <head>
    {% partial 'site/head' %}
    </head>
    <body>
        {% partial 'site/_inject_user_counter' %}
        {% partial 'site/header_top' %}
        {% partial 'site/header_nav' %}
        
        {% partial 'site/breadcrumb' %}
        
        {% placeholder beforeContent %}
        
        <section class="{{ mainSectionClass | default('bg-light ftco-section')}}">
            <div class="{{ mainContainerClass | default('container-fluid px-4') }}">
                <div class="row">
                   {% page %}
                </div>
            </div>
        </section>
        
        {% placeholder afterContent %}
        
        {% partial 'site/footer' %}
        {% partial 'site/bottom' %}
    </body>
</html>