[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<!DOCTYPE html>
<html lang="en">
    <head>
    {% partial 'site/head' %}
    </head>
    <body>
        {% partial 'site/_inject_user_counter' %}
        {% partial 'site/header_top' %}
        {% partial 'site/header_nav' %}
        
        {% partial 'site/breadcrumb' %}
        
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row">
                    {% page %}
                </div>
            </div>
        </section>
        
        {% partial 'site/footer' %}
        {% partial 'site/bottom' %}
    </body>
</html>