title = "Kontak Kami"
url = "/kontak"
layout = "single"
==
{% put beforeContent %}
    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex contact-info">
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Address</h3>
                        <p>Kantor Gubernur Kalimantan Tengah <br/>
                            Jl. RTA Milono No.1 Palangka Raya</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://62536123">+ 62536123</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Email Address</h3>
              <p>
                <a href="mailto:info@setda.kalteng.go.id">info@setda.kalteng.go.id</a>
                <a href="mailto:tusekdaprovkalteng@gmail.com">tusekdaprovkalteng@gmail</a>
              </p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">setda.kalteng.go.id</a></p>
	          </div>
          </div>
        </div>
      </div>
    </section>
{% endput %}

<div class="col-lg-12 embed-responsive embed-responsive-16by9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.8303656243556!2d113.91622624988634!3d-2.2175589983757353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dfcb2f7539f70c9%3A0xf18603116505ad7b!2sSekretariat%20Daerah%20Pemerintah%20Provinsi%20Kalimantan%20Tengah%20-%20Biro%20Hukum!5e0!3m2!1sen!2sid!4v1568210506272!5m2!1sen!2sid" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
