title = "Pegawai"
url = "/pegawai/:page?"
layout = "single"
meta_title = "Pegawai Setda Prov. Kalteng"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[pegawaiList]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 10
==
function onStart() {
    $this['mainContainerClass'] = 'container';
}
==
{% set defaultPict = "assets/images/avatar-blank.png" | theme %}
{% for peg in posts %}
    {% set gambarPeg = peg.fotopegawai.path | default(defaultPict) %}
<div class="col-md-6 col-lg-3 ftco-animate">
    <div class="staff">
        <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" 
                 style="background-image: url({{ gambarPeg | resize(255,400) }});"></div>
        </div>
        <div class="text pt-3 text-center">
            <h3>{{ peg.gelar_depan }} {{ peg.nama }} {{ peg.gelar_belakang}}</h3>
            <!--<span class="position mb-2">Biro Ekonomi</span>-->
            <div class="faded">
                {{ peg.bio | raw }}
                <ul class="ftco-social text-center">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}