title = "Tentang Kami"
url = "/tentang-kami"
layout = "single"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
==
<?php
function onStart() {
    $this['mainSectionClass'] = 'bg-light';
    $this['mainContainerClass'] = 'container-fluid';
}
?>
==
{% put beforeContent %}
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
                <div class="img" style="background-image: url({{ 'assets/images/kantor-gub.jpg'|theme}}); border"></div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">Sekretariat Daerah Provinsi Kalimantan Tengah</h2>
                <p>Berdasarkan Peraturan Gubernur Kalimantan Tengah Nomor 27 Tahun 2016 tentang Kedudukan, Susunan Organisasi, Tugas, Fungsi, dan Tata Kerja Sekretariat Daerah Provinsi Kalimantan Tengah yang diperbarui dengan Peraturan Gubernur Kalimantan Tengah Nomor 30 Tahun 2018 tentang Perubahan Peraturan Gubernur Kalimantan Tengah Nomor 27 Tahun 2016 tentang Kedudukan, Susunan Organisasi, Tugas, Fungsi, dan Tata Kerja Sekretariat Daerah Provinsi Kalimantan Tengah, Sekretariat Daerah (Setda) Provinsi Kalimantan Tengah adalah sekretariat yang dipimpin oleh Sekretaris Daerah (Sekda), berkedudukan di bawah dan bertanggung jawab kepada Gubernur Kalimantan Tengah. Sekretariat Daerah memiliki tugas membantu Gubernur dalam penyusunan kebijakan dan pengoordinasian administratif terhadap pelaksanaan tugas perangkat daerah serta pelayanan administratif.</p>
            </div>
        </div>
    </div>
</section>
{% partial 'site/sekilas_kalteng' %}
{% endput %}
{% partial 'site/highlight' %}